<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is from index ejs</h1>
    <h2>this  <%= text %> </h2>
    <!-- this will print text form server -->
    <!-- but if we write wrong JSONobject like text2 instead of text, server will down. so we will add "locals.text" sothat if we add wrong item form json object it will run anyway and will show its default message-->
    <h2>this  <%= locals.text1 || 'is from client default' %> </h2>
    
</body>
</html>